:root {
  --body-background-gradient-color-a: #04091d;
  --body-background-gradient-color-b: #0b1741;
  --body-background-gradient: linear-gradient(
    180deg,
    var(--body-background-gradient-color-a) 0%,
    var(--body-background-gradient-color-b) 100%
  );
  --header-background-gradient-color-a: rgba(31, 56, 116, 0.85);
  --header-background-gradient-color-b: rgba(33, 69, 121, 0.85);
  --header-background-gradient: linear-gradient(
    180deg,
    var(--header-background-gradient-color-a) 0%,
    var(--header-background-gradient-color-b) 100%
  );
  --header-border-color: rgba(19, 36, 82, 0.85);
  --color-white: #fbfbff;
  --color-cyan: #11f3d9;
  --color-blue: #02a8d3;
  --color-purply: #2e70e4;
  --color-coral: #e94a5b;
  --color-game: #16254e;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  font-family: "Lexend", sans-serif;
}

body {
  background-image: var(--body-background-gradient);
  height: 100vh;
  width: 100vw;
}

header {
  background-image: var(--header-background-gradient);
  border-bottom: 1.5rem solid var(--header-border-color);
  padding: 2em;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 0;
}

#game-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

#game-btn-start {
  font-family: inherit;
  background-color: var(--color-cyan);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 8px;
}

#game-controls p {
  margin: 0;
}

#game {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  height: 35rem;
  background-color: var(--color-game);
  box-shadow: 0 0 40px var(--body-background-gradient-color-a);
  position: relative;
  top: 4rem;
}

#game-screen-gameover {
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  background-color: var(--body-background-gradient-color-a);
  border-radius: 60px;
  width: 50vw;
  text-align: center;
  position: relative;
  top: 4rem;
  box-shadow: 0 0 15px var(--body-background-gradient-color-a);
}
